@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #16141a;
    overflow-x: hidden; /* Disable horizontal scrolling */
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    letter-spacing: 0.3px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 100%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: relative;
    height: 300px; /* Increased height */
    border-radius: 10px; /* Remove border radius for modern look */
    overflow: hidden;
    background: linear-gradient(135deg, #000000, #004d40); /* Simplified gradient */
    margin: 10; /* Remove margin for full-width look */
    display: flex;
    align-items: center;
    padding: 0 5%;
}

.profile {
    position: relative; /* Changed from absolute */
    left: 0;
    transform: none;
    width: 100%;
    display: flex;
    justify-content: space-between; /* Better spacing */
    align-items: center;
}

.profile-picture {
    border-radius: 100px;
    width: 200px;
    height: 200px;
    margin-right: 15px;
    transition: transform 1s ease, box-shadow 0.5s ease;
    box-shadow: 0px 4px 20px rgb(191, 174, 174);
    object-fit: cover;
}

.profile-picture:hover {
    transform: scale(1.4); /* Makes the picture slightly larger */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.461); /* Adds a stronger shadow */
    filter: brightness(0.9); /* Brightens the image slightly */
}

.atharva, .kaabil {
    color: white;
}

.atharva {
    margin-left:10%;
    font-family: 'Lora', serif;
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 0;
    transition: transform 0.5s ease, filter 0.5s ease; /* Ensures smooth transition even before hover */
}

.atharva:hover {
    transform: scale(1.05); /* Slightly larger, subtle enough for a smooth effect */
    filter: brightness(1.3); /* Moderate brightness to enhance the image without overexposing */
    transition: transform 0.5s ease, filter 0.5s ease, box-shadow 0.5s ease; /* Smooth and consistent transition */
}

.profile-text h1 span{
    color:#9dff00;

}
.profile-text h1 span:hover{
    /* color:#f10000; */
    font-weight:lighter;
    transform: scale(1.9);
    transition: box-shadow 0.1s ease;
}

.kaabil {
    margin-top: -3px;
}

.follow-button {
    position: absolute;
    top: 45%;
    right: 10px;
    transform: translateY(-50%);
    max-width: 400px; /* Adjusted max-width */
    display: flex;
    justify-content: center;
    gap: 15px; /* Space between buttons */
    margin: 20px 0;
}

.projects-container, .projects-container2 {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.project-card, .project-card2 {
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: rgb(20, 24, 32);
    color: rgb(155, 155, 155);
}

.project-card {
    cursor: pointer;
    border-radius: 15px;
    overflow: hidden;
    background-color: #2c2c2c; /* Slightly lighter for better contrast */
    color: #e0e0e0;
    transition: transform 0.4s ease, box-shadow 0.4s ease; /* Smooth transition */
    flex: 0 0 30%; /* Ensure each card takes up equal space */
    width: 350px; /* Set a max width */
    height: 340px; /* Consistent height */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* More pronounced shadow */
}

.project-card2 {
    width:min-content;
    height: 220px;
  
}

.project, .title2 {
    font-family: 'Inter', sans-serif;
    color: #00796B;
    margin-left: 1em;
    margin-right: 1em;
}

.project {
    margin-bottom: 10px;
}

.title2 {
    color: #829e9b;  /* Changed from rgb(155, 155, 155) to your theme color */
    font-weight: bold;
    font-size: medium;
    text-align: center;
}

/* Add hover effect if desired */
.title2:hover {
    color: #acebe4;  /* Slightly lighter shade for hover */
    transition: color 0.3s ease;
}

.project-card img, .project-card2 img {
    width: 100%;
    height: 65%; /* Adjusted to fit new card size */
    object-fit: cover;
    border-bottom: 3px solid #00bfa5; /* Thicker border for emphasis */
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px white;
    background-color: #16141a;
    border-radius: 5px;
}

.project-title {
    margin: 5px;
    font-size: smaller;
}

.social-container img {
    margin-right: 3px;
    margin-left: 3px;
}

.social-container a {
    text-decoration: none;
    color: inherit;
}

.social-container {
    display: flex;
    margin: 10px;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    padding: 9px;
    background-color: #031a12	; /* Light grey background */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.button {
    padding: 15px 25px;
    background-color: #0073b1; /* LinkedIn Blue */
    color: white;
    border: none;
    border-radius: 50px; /* Rounded button */
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
    background-color: #005582; /* Darker blue on hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
}

.social-container .button:active {
    background-color: #003d61; /* Even darker blue when clicked */
    transform: scale(1); /* Return to original size */
}

.icon {
    font-size: 24px; /* Set your desired icon size */
    margin-left: 10px; /* Adjust margin as needed */
}

.skillset {
    flex-wrap: wrap;
    display: flex;
}

.container2 {
    width: 240px;
    height: 160px;
    background: linear-gradient(135deg, #1a1a1a, #17004d);
    border: 1px solid #333;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    margin: 10px;
}

.container2:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0,77,64,0.2);
}

.title {
    color: rgb(155, 155, 155);
    font-weight: bold;
    font-size: large;
    font-family: 'Inter', sans-serif;
    padding-left: 5px;
    padding-right: 2px;
}

.tags-container {
    display: flex;
    flex-wrap: wrap; /* Allow tags to wrap to the next line if needed */
    margin-top: 20px;
}

.box, .box2 {
    min-width: 30px;
    height: 30px;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255,255,255,0.1);
    transition: all 0.3s ease;
    margin: 5px; /* Adjusted margin for better spacing */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: medium;
    padding-left: 4px;
    color: rgb(155, 155, 155);
    padding-right: 4px;
}

.box:hover, .box2:hover {
    background: rgba(255,255,255,0.1);
    transform: scale(1.05);
}

.box2 {
    border: 1px solid #833AB4;
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(20, 24, 32);
    border-radius: 2px;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #f0f0f0; /* Default background for buttons */
    border-radius: 50%; /* Make the buttons circular */
    text-decoration: none;
    color: rgb(158, 32, 32);
    font-size: 24px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* Smooth hover transitions */
}

.social-icon:hover {
    transform: scale(1.1); /* Slightly enlarge the icon on hover */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Add a subtle shadow on hover */
}

.follow-button {
    display: flex;
    justify-content: center;
    gap: 15px; /* Space between buttons */
    margin: 20px 0;
}

.button img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s; /* Smooth hover effect for logos */
}

.button:hover {
    transform: scale(1.2); /* Slightly enlarge the logo on hover */
    background-color:#031a12; /* Light background on hover */
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
    /* filter: brightness(1.1); */
}

.instagram-button:hover {
    background-color: rgb(241, 2, 219); /* Light Instagram color on hover */
}

.youtube-button:hover {
    background-color: rgb(255, 0, 0); /* Light YouTube red on hover */
}

.linkedin-button:hover {
    background-color: rgba(10, 102, 194); /* Light LinkedIn blue on hover */
}

.github-button:hover {
    background-color: rgba(1, 4, 9); /* Light GitHub gray on hover */
}

/* Contact Details Section */
.contact-details {
    background-color: #16141a;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
    text-align: center;
    transition: transform 0.5s ease, box-shadow 0.9s ease;
}

.contact-details h2 {
    font-family: 'Inter', sans-serif;
    margin-bottom: 15px;
    color: #00796B;
}

.contact-details ul {
    list-style: none;
    padding: 0;
    font-size: 18px;
}

.contact-details li {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-details li i {
    margin-right: 10px;
    color: #00796B; /* Icon color */
}

.contact-details:hover {
    transform: scale(1.29); /* Makes the picture slightly larger */
    margin: 21px auto;
    transition: transform 1.0s ease, box-shadow 0.5s ease;
}

/* ABOUT ME Section */
.container6 {
    background-color: hsl(0, 0%, 100%);
    padding: 18px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 50px auto;
    transition: transform 0.5s ease, box-shadow 0.9s ease;
}

.container6:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.container6 h2 {
    font-size: 28px;
    color: #333;
    border-bottom: 3px solid #0099ff;
    padding-bottom: 10px;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
}

.container6 p {
    font-size: 18px;
    color: #555;
    line-height: 1.8;
}

/* EDUCATION */
#education {
    padding: 50px 15px 20px 15px;
    border-bottom: 1px solid #dcd9d9;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    padding: 18px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 50px auto;
    transition: transform 0.5s ease, box-shadow 0.9s ease;
}

#education:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

#education h2 {
    font-size: 28px;
    color: #333;
    border-bottom: 3px solid #0099ff;
    padding-bottom: 10px;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
    color: #374054;
    margin-bottom: 50px;
}

.education-block {
    max-width: 700px;
    margin: 0 auto 30px auto;
    padding: 15px;
    border: 1px solid #dcd9d9;
    text-align: left;
}

.education-block:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.education-block h3 {
    font-weight: 500;
    float: left;
    margin: 0;
    color: #374054;
}

.education-block span {
    color: #74808a;
    float: right;
}

.education-block h4 {
    color: #74808a;
    clear: both;
    font-weight: 500;
    margin: 0 0 15px 0;
}

.education-block p, .education-block ul {
    margin: 0;
    color: #74808a;
    font-size: 0.9em;
}

.education-block ul {
    padding: 0 0 0 15px;
}

/* Media Query for smaller screens */
@media only screen and (max-width: 600px) {
    .header {
        height: 120px;
    }

    .profile {
        left: 10px;
    }

    .profile-picture {
        margin-right: 4px;
        width: 80px;
        height: 80px;
    }

    .atharva {
        font-size: 20px;
    }

    .kaabil {
        font-size: 10px;
    }

    .follow-button {
        right: 10px;
        max-width: 180px;
        font-size: 10px;
    }

    .project-card, .project-card2 {
        width: 100%;
        margin: 10px;
        height: fit-content;
    }

    .project-card img, .project-card2 img {
        width: 100%;
        height: 60%;
    }

    .container2 {
        width: 100%;
        height: fit-content;
        align-items: center;
    }
}

@media (max-width: 768px) { /* Adjust for screens smaller than 768px */
    .follow-button {
        left: 50%; /* Center horizontally */
        transform: translate(-50%, -50%);
        max-width: 90%; /* Limit the width to fit the screen */
    }
}

.contact-color {
    margin-left: 5px;
    color: #96a9b9; /* Subtle color, use as is or adjust for contrast */
    text-decoration: none; /* Removed wavy text-decoration for a cleaner look */
    font-weight: 500; /* Gives a nice weight without being too bold */
    font-size: 1rem; /* Standard size, you can adjust for your design */
    transition: color 0.5s ease, text-decoration 0.3s ease; /* Smooth transition for hover effects */
}

.contact-color:hover {
    color: #bebfc0; /* Slightly darker shade for hover */
    text-decoration: underline; /* Subtle underline effect on hover */
}

.hero .hero-subtitle {
    font-size: 1.5rem;
    font-weight: 600;
}

@media (min-width: 768px) {
    .hero .hero-subtitle {
        font-size: 2.5rem;
    }
}

/* Social Media Links */


.social-media-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.social-media-links a {
    text-decoration: none;
    color: #000;
    font-size: 2rem;
    transition: color 0.3s;
}

.social-media-links a:hover {
    color: #0073e6; /* Change color on hover */
}

.social-icon {
    padding: 10px;
    border-radius: 50%;
    transition: transform 0.3s;
}

.social-icon:hover {
    transform: scale(1.1);
}

.copyright {
    color: #ccccac;
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}






.typed-text {
    font-size: 1rem;
  color: #8d8d8d; 
}







.scroll-container {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.scroll-items {
    display: inline-flex;
    animation: scroll 60s linear infinite; /* Adjust the duration as needed */
    animation-timing-function:ease-in;
   
}

.scroll-item {
    margin-right: 20px; 
    flex-shrink: 0; /* Prevent items from shrinking */

}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); /* Move half the width of the container */
    }
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.section-title {
    font-size: 2.5rem;
    text-align: center;
    margin: 4rem 0 2rem;
    position: relative;
    padding-bottom: 1rem;
}

.section-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    background: linear-gradient(90deg, #000000, #004d40);
    border-radius: 2px;
}

/* Unique and improved styles for project-related elements */
.projects-container {
    display: flex;
    justify-content: space-between; /* Distribute items evenly */
    align-items: center; /* Center items vertically */
    gap: 20px; /* Add space between items */
    padding: 20px; /* Add padding for better spacing */
    overflow-x: auto; /* Allow horizontal scrolling if needed */
}

.project-card:hover {
    transform: scale(1.08); /* More noticeable enlargement on hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); /* Enhanced shadow on hover */
}

.project-title {
    font-family: 'Inter', sans-serif;
    color: #949090; /* Vibrant color for titles */
    margin: 15px;
    text-align: center;
    font-size: 0.8rem;
}

.hero-title {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    background: linear-gradient(45deg, #fff, #00796B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: titleFade 1s ease-in;
}

@keyframes titleFade {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.custom-social-media {
    position: absolute;
    /* top: 10px;  */
    bottom: 1em;
    right: 10px; /* Adjust as needed to align with the right of the header */
    z-index: 1000; /* Ensure it appears above other elements */
}

.custom-follow-button {
    display: flex;
    gap: 15px;
}

.custom-social-icon {
    color: #a09696;
    font-size: 30px;
    transition: color 0.3s ease;
}

.custom-social-icon:hover {
    color: #e64500; /* Change this color to match your theme */
}
